:root {
  --post-page-background: #eeeeee;
}


/*-- scss:defaults --*/

$header-color: #000000;
$details-color: #999999;
$category-background-color: #c7e0eb;
$category-foreground-color: #1b3485;
$category-hover-background-color: #1b3485;
$category-hover-foreground-color: #eeeeee;
$post-page-background: #eeeeee;
$post-listing-background: #ffffff;

